$font-regular: 'SegoeUI Regular', sans-serif;

$font-italic: 'SegoeUI Italic', sans-serif;

$font-light: 'SegoeUI Light', sans-serif;

$font-semibold: 'SegoeUI SemiBold', sans-serif;

$font-bold: 'SegoeUI Bold', sans-serif;



$color-brown: #2a2220;

$color-white: #fff;

$color-black: #000;