/***********************************************************************************************************************
************** general
***********************************************************************************************************************/

@font-face {
  font-family: 'SegoeUI Regular';
  src: url(../source/fonts/SegoeUIRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'SegoeUI Italic';
  src: url(../source/fonts/SegoeUIItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'SegoeUI Light';
  src: url(../source/fonts/SegoeUILight.ttf) format('truetype');
}

@font-face {
  font-family: 'SegoeUI SemiBold';
  src: url(../source/fonts/SegoeUISemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'SegoeUI Bold';
  src: url(../source/fonts/SegoeUIBold.ttf) format('truetype');
}