/***********************************************************************************************************************
************** general
***********************************************************************************************************************/

footer[role='contentinfo'] {
  display: block;
  flex-grow: 0;
  background: #fff;
  padding: 25px 0;

  .columns:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
    display: block;
    white-space: nowrap;

    span {
      display: inline-block;
      vertical-align: middle;

      &:first-of-type {
        width: 50px;
        margin: 0 10px 0 0;
      }

      &:last-of-type {
        font-family: $font-semibold;
        font-size: 22px;
        line-height: 1;
      }

    }

  }

  .link-phone {
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px 0 0;

    a {
      color: $color-black;
    }

  }

  .location-phone {

    .select-city {
      display: inline-block;
      vertical-align: middle;

      ul {
        top: auto;
        bottom: calc(100% + 42px);
        padding: 10px 25px 20px 15px;
      }

    }

  }

  @media(max-width: 768px) {

    .location-phone {
      display: block;
      text-align: right;

      .link-phone {
        display: block;
        margin: 0 0 5px 0;

        a {
          font-size: 18px;
        }

      }

      .select-city {

        .current-value {
          display: inline-block;
          vertical-align: middle;
        }

      }

    }

  }

  @media(max-width: 640px) {
    text-align: center;

    .columns:last-of-type {
      justify-content: center;
    }

    .location-phone {
      text-align: center;

      .select-city:before {
        display: inline-block;
        vertical-align: middle;
        position: static;
      }

    }

    .logo {
      margin: 0 0 20px 0;
    }

  }

}