/***********************************************************************************************************************
************** general
***********************************************************************************************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-regular;
  color: $color-black;
}

body {
  background: $color-brown;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  background: url(../source/images/background-top.png) no-repeat center 270px, url(../source/images/background.jpg) no-repeat center top;
  opacity: 0;

  @media(max-width: 1023px) {
    background: url(../source/images/background.jpg) no-repeat center top;
  }

}

main {
  display: block;
  flex-grow: 1;
}

a {
  @include smooth(.4s);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

}

input {

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

}

textarea {

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

}

button {

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

}

button {
  @include smooth(.4s);
  display: inline-block;
  border: none;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  font-family: $font-bold;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;

  &.button-red {
    background: #cf0f12 url(../source/images/button-decor.png) no-repeat center top;
    background-size: 100% auto;
  }

  &.button-blue {
    background: #4272a9 url(../source/images/button-decor.png) no-repeat center top;
    background-size: 100% auto;
  }

  &.button-black {
    background: $color-black url(../source/images/button-decor.png) no-repeat center top;
    background-size: 100% auto;
  }

  &:hover {
    background-position: center -10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
  }

}

.custom-select {
  display: block;

  .current-value {
    cursor: pointer;
  }

  ul {
    display: none;
  }

  &.active {

    ul {
      display: block;
    }

  }

}

section {
  display: block;
  width: 100%;
  padding: 30px 0;
}

h2 {
  font-family: $font-bold;
  font-size: 37px;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
  line-height: 1.25;
  margin: 0 0 30px 0;

  span {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  @media(max-width: 768px) {
    font-size: 28px;
  }

}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .item {
    display: block;
  }

  @media(max-width: 1230px) {
    flex-wrap: wrap;
    justify-content: center;
  }

}

input::-webkit-input-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

input::-moz-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

input:-moz-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea::-webkit-input-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

textarea:-moz-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: $color-black;
  font-size: 15px;
  opacity: 1;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}