/***********************************************************************************************************************
************** header
***********************************************************************************************************************/

header[role='banner'] {
  @include smooth(.2s);
  background: #fff;
  padding: 0 0 105px 0;

  .row {
    background: $color-black;
    position: relative;
    margin: 0 auto;
  }

  .logo {
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 78px;

    span {
      display: inline-block;
      vertical-align: middle;

      &:first-of-type {
        width: 50px;
        margin: 0 10px 0 0;
      }

      &:last-of-type {
        font-family: $font-semibold;
        font-size: 22px;
        line-height: 1;
      }

    }

  }

  .burger {
    display: none;

    @media(max-width: 1023px) {
      display: block;
      width: 30px;
      height: 23px;
      cursor: pointer;
      background: transparent;
      position: relative;
    }

    .burger-top,
    .burger-center,
    .burger-bottom {
      @include smooth(.4s);
      display: block;
      width: 100%;
      height: 2px;
      background: $color-white;
      margin: auto;
      position: absolute;
      left: 0;
      -webkit-transform-origin: left;
      -moz-transform-origin: left;
      -ms-transform-origin: left;
      -o-transform-origin: left;
      transform-origin: left;
    }

    .burger-top {
      top: 0;
    }

    .burger-bottom {
      bottom: 0;
    }

    .burger-center {
      top: 0;
      bottom: 0;
    }

    &.active .burger-top {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.active .burger-center {
      opacity: 0;
      left: -15px;
    }

    &.active .burger-bottom {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

  }

  nav {
    display: flex;

    a {
      display: block;
      font-family: $font-semibold;
      color: $color-white;
      font-size: 16px;
      line-height: 1;
      padding: 17px 25px;
      text-decoration: none;

      &:hover {
        color: #4272a9;
      }

      &.active {
        background: #4272a9;
        color: $color-white;
      }

    }

  }

  .select-city {
    position: absolute;
    top: 90px;
    right: 0;
  }

  &.header-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;

    & + main {
      margin: 155px 0 0 0;
    }

  }

  &.header-short {
    padding: 10px 0;
    background: $color-black;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    & + main {
      margin: 155px 0 0 0;

      @media(max-width: 1023px) {
        margin: 82px 0 0 0;
      }

    }

    .logo {
      position: static;
      margin: 0 0 0 20px;

      span {

        &:first-of-type {
          width: 40px;
        }

        &:last-of-type {
          display: none;
        }

      }

    }

    nav {

      a {
        font-size: 15px;
        padding: 17px 15px;
      }

    }

    .location-phone {
      margin: 0 20px 0 0;
      padding: 0 0 35px 15px;

      .link-phone {
        margin: 0;

        a {
          font-size: 18px;
        }

      }

      .select-city {
        top: auto;
        bottom: 10px;

        .current-value {
          color: $color-white;

          &:before {
            background: url(../source/images/select-marker.png) no-repeat right top;
          }

        }

      }

    }

  }

  @media(max-width: 1023px) {

    &.header-short {

      nav {
        @include smooth(.6s);
        display: block;
        position: fixed;
        width: 100%;
        height: calc(100vh - 82px);
        left: 0;
        top: 150%;
        background: $color-black;
        z-index: 1001;
        overflow: auto;
        padding: 50px 0 0 0;
        text-align: center;

        &.active {
          top: 82px;
        }

        a {
          display: inline-block;
          width: auto;
          min-width: 51%;
          padding: 15px 30px;
          margin: 0 auto;
          border-top: 1px solid $color-white;

          &:first-of-type {
            border: none;
          }

        }

      }

      .logo {

        span {

          &:last-of-type {
            display: inline-block;
            color: $color-white;
            font-size: 18px;
          }

        }

      }

    }

  }

  @media(max-width: 640px) {

    &.header-short {

      .logo span:last-child {
        display: none;
      }

      .location-phone .link-phone a {
        font-size: 16px;
      }

      .location-phone .select-city .current-value {
        font-size: 14px;

        &:before {
          top: 6px;
        }

      }

    }

  }

}